<% if session[:is_admin] %>
<div id="admin_links">
	<%= link_to 'Edit', edit_group_path(update_group_detail) %><br/>
	<%= link_to 'Delete', group_path(update_group_detail), :confirm => "Are you sure?", :method => :delete %>
</div>
<% end %>

<div id="group_name"><%= update_group_detail.name %></div>
<div id="group_status">
	<em><b>Status:</b> 
	<% if update_group_detail.on_probation %>
		<div style="font-weight:bold;color:red;display:inline;">On Probation</div>
	<% elsif update_group_detail.active %>
	 	Active
	<% else %>
	 	Inactive
	<% end %>
	</em>
</div>
<p><b>Leader:</b> 
<% if !update_group_detail.leader_name.nil? -%>
	<% if update_group_detail.leader_name.size != 0 -%>
		<%= mail_to("#{update_group_detail.leader_name}@gordon.edu") %>
	<% else -%>
		None
	<% end -%>
<% else -%>
	None
<% end -%></p>
<p><b>Description</b><br/>
<%= update_group_detail.description %></p>