<h1>Update Group</h1>
<% form_for @group, :url => { :controller => "groups", :action => "update" } do |f| %>
<%= f.error_messages %>
<%= f.label :name %>: <%= f.text_field :name %><br/>
<%= f.label :description %>:<br/><%= f.text_area :description %><br/>
<%= f.label :active %>: <%= f.check_box :active, {:checked => true} %><br/>
<%= f.submit 'Update Group' %>
<% end %>