<h1>Update Group</h1>
<% form_for @group, :url => { :controller => "groups", :action => "update" } do |f| %>
<%= f.error_messages %>
<table>
	<tr>
		<th align="right"><%= f.label :name %>:</th>
		<td><%= f.text_field :name %></td>
	</tr><tr>
		<th align="right">Leader Username:</th>
		<td><%= f.text_field :leader_name %> <em>(firstname.lastname)</em></td>
	</tr><tr>
		<th align="right">Status:</th>
		<td><%= f.check_box :active %> Active? <%= f.check_box :on_probation %> On Probation?</td>
	</tr><tr>
		<th align="right" valign="top"><%= f.label :description %>:</th>
		<td><%= f.text_area :description %></td>
	</tr><tr>
		<td colspan=2 align="center"><%= f.submit 'Update Group' %></td>
	</tr>
</table>
<% end %>