<h1>GCSA Groups</h1>

<select name="group_type" id="group_type_select">
<%= options_for_select(["Cabinets", "Clubs", "Councils", "Publications"], "Cabinets") %>
</select>

<%= observe_field 'group_type_select', :url => {:action => 'update_groups_list'},
		:update => 'groups_list',
		:with => 'group_type' %>

<div id="groups">
	<div id="groups_list">
		<ul>
		<% @groups.each do |group| %>
		<li><%= link_to_remote group.name, :update => "group_detail", :url => {:action => 'update_group_detail', :id => group.id} %></li>
		<% end %>
		</ul>
	</div>
	<div id="group_detail">
		<% first_group = @groups.first %>
		<h3><%= first_group.name %></h3>
		<p><b>Leader(s):</b> <%= (first_group.leader_name.nil?) ? "None" : first_group.leader_name %>
		<p><b>Description</b><br/>
		<%= first_group.description %></p>
	</div>
</div>