<h1>GCSA Groups</h1>

<h3>Cabinets</h3>
<table>
	<tr>
		<th>Name</th>
		<th>Leader</th>
		<th>Description</th>
	</tr>
<% @cabinets.each do |cabinet| %>
<tr>
	<td><%= cabinet.name %></td>
	<td><%= link_to cabinet.name, group_path(cabinet) %></td>
</tr>
<% end %>
</table>

<h3>Councils</h3>
<ul>
<% @councils.each do |council| %>
<li><%= link_to council.name, group_path(council) %></li>
<% end %>
</ul>

<h3>Clubs</h3>
<ul>
<% @clubs.each do |club| %>
<li><%= link_to club.name, group_path(club) %></li>
<% end %>
</ul>

<h3>Publications</h3>
<ul>
<% @publications.each do |publication| %>
<li><%= link_to publication.name, group_path(publication) %></li>
<% end %>
</ul>